<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<footer class="css-footer">
    <div class="first">
        <div>
        <h2>고객센터</h2>
        <p>오전 9시 ~ 새벽 3시 운영</p>
        <button class="call" type="button">
            <span class="phone"><i class="fa-solid fa-phone">1670-6250</i>  </span>
        </button>
        <button class="call" type="button">
            <span class="phone"><i class="fa-solid fa-phone">카카오 문의</i>  </span>
        </button>

        </div>
        <div class="second">
            <h2>회사</h2>
            <a href="/company"><p>회사소개</p></a>
        </div>
        <div class="third">
            <h2>서비스</h2>
            <a href="/notice"><p>공지사항</p></a>
            <a href="/notice"><p>자주 묻는 질문</p></a>
        </div>
    </div>
    <div class="maage">
        <p></p>

    </div>


</footer>
</body>
</html>