<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/footer.css"/>
    <script src="https://kit.fontawesome.com/6f0d9367ed.js" crossorigin="anonymous"></script>
</head>
<body>
<footer class="footer">
    <div class="top-bar" style="display: flex">
        <div class="call" >
        <p class="title">고객센터</p>
        <p class="contents">오전 9시 ~ 새벽 3시 운영</p>
        <button class="phone" onclick="location.href ='main.html'">
            <i class="fa-solid fa-phone gray"></i> 1670-6250
        </button>
        <button class="phone" onclick="location.href ='main.html'">
            <i class="fa-solid fa-comment gray" ></i> 카카오 문의
        </button>
        </div>
       <span class="category">
          <p class="title">회사</p>
           <p class="contents under">회사 소개</p>
       </span>
        <span class="category">
          <p class="title">서비스</p>
           <p class="contents under">공지 사항</p>
             <p class="contents under">자주 묻는 질문</p>
            <p class="contents under">기업 출장/복지 서비스 문의</p>
       </span>
        <span class="category">
          <p class="title">혜텍</p>
           <p class="contents under">트립홀릭 혜텍 안내</p>
            <p class="contents under">엘리트 혜텍 안내</p>
            <p class="contents under">비즈니스 회원 혜텍 안내</p>
            <p class="contents under">여기어떄 상품권 조회</p>
       </span>
    </div>
    <div class="mid-bar">
        <p>(주)여기어때컴퍼니</p>
        <p>주소 : 서울특별시 강남구 봉은사로 479, 479타워 11층 | 대표이사 : 정명훈 | 사업자등록번호 : 742-86-00224사업자정보확인</p>
        <p>전자우편주소 : help@goodchoice.kr | 통신판매번호 : 2017-서울강남-01779 | 관광사업자 등록번호 : 제1026-24호 | 전화번호 : 1670-6250 | 호스팅서비스제공자의 상호 표시 : (주)여기어때컴퍼니</p>
        <p>주)여기어때컴퍼니는 통신판매중개자로서 통신판매의 당사자가 아니며, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.</p>
    </div>
</footer>
</body>
</html>