<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>여기 어때</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/6f0d9367ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
</head>
<body>
<!--<script src ="../js/header.js"/>-->
<header class="header.css">
    <a href="main.html"><img class="logo"; src="../image/logo.jpg"/></a>
    <button  class="login" onclick="location.href ='login.html'">
        <i class="fa-solid fa-bars fa-2x menu"  > </i>
        <i class="fa-solid fa-user fa-2x profile" ></i>
    </button>

</header>
<script>

</script>
</body>

</html>