<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>여기 어때</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/6f0d9367ed.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
<div id="header"></div>
    <img src="" class="background">
    <div id="quote" >
        <span></span><br>
        <span></span>
        <form class="input" input="">
        </form>

    </div>
<div class="slidebox pad">
    <input type="radio" name="slide" id="slide01" checked>
    <input type="radio" name="slide" id="slide02">
    <input type="radio" name="slide" id="slide03">
    <input type="radio" name="slide" id="slide04">
    <ul class="slidelist">
        <li class="slideitem">
            <a href="list.html"><img style="width: 90%;" src="https://api.cdn.visitjeju.net/photomng/imgpath/201810/17/c072ee1a-2a02-4be7-b0cd-62f4daf2f847.gif"></a>
        </li>
        <li class="slideitem">
            <a href="list.html"><img style="width: 90%;" src="https://api.cdn.visitjeju.net/photomng/imgpath/201804/30/315de0be-5bce-4fde-a211-a0cc4d2bfbe6.jpg"></a>
        </li>
        <li class="slideitem">
            <a href="list.html"><img style="width: 90%;" src="https://api.cdn.visitjeju.net/photomng/imgpath/201907/26/44288dfd-8496-4e9e-bcc5-9d277469b6c7.jpg"></a>
        </li>
        <li class="slideitem">
            <a href="list.html"><img style="width: 90%;" src="https://api.cdn.visitjeju.net/photomng/imgpath/201804/30/0e63602d-a5c7-48c4-b36e-72eae156a8d7.jpg"></a>
        </li>

    </ul>
    <div class="slide-control">
        <div class="control01">
            <label for="slide04" class="prev"></label>
            <label for="slide02" class="next"></label>
        </div>
        <div class="control02">
            <label for="slide01" class="prev"></label>
            <label for="slide03" class="next"></label>
        </div>
        <div class="control03">
            <label for="slide02" class="prev"></label>
            <label for="slide04" class="next"></label>
        </div>
        <div class="control04">
            <label for="slide03" class="prev"></label>
            <label for="slide01" class="next"></label>
        </div>
    </div>
</div>


<script src="../js/quotes.js"></script>
<script src="../js/background.js"></script>

<div id="footer"></div>
<script>
    $(function (){
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    });
</script>
</body>

</html>