.footer{
    border-top-color: lightslategrey;
    width: 100%;
    height: 50%;
    background: lightgrey;
    padding-left:50px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.topbar{
    display: flex;
}
.call{
    width: 40%;
}
.title{
    font-weight: bold;
    font-size: 15px;
}
.contents{
    color: grey;
    font-size: 13px;
}
.phone{
    padding: 10px;
    background: white;
    border: grey;
    border-radius: 20%;
}
.gray{
    color: grey;
}
.category{
    width: 20%;
}
.mid-bar{
    color: grey;
    font-size: 10px;
}
